<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">About Me</h2>
            </div>
            <div class="col-md-8">
                <p>I am a geek. I love computers. I love everything about them. I spend eight to ten hours a day in front of a computer screen as I am coding, debugging, or discussing coding practices and methods with other programmers. When I am not programming, I am studying about computers at the university, gathering knowledge, learning all the time. I truly get excited when a new Web application that does something never done before becomes available for beta testing. I am deeply impressed when I see smart and beautiful code that does something I know is hard to accomplish. These are moments when I feel that we have only touched the surface of what we can do with computers, and I know that there is a simple solution to the current programming problem I am facing; I just need to get my head around it. Most of my day has something to do with computers, until, of course, my son would burst into my office and demands we play a “real game”, outside!</p>
                <div class="reasons">
                    <h4>Five Reasons I'm Passionate About Coding:</h4>
                    <ol>
                        <li><i>I love to code because it is usable art.</i></li>
                        <li><i>I love to code because it is a team effort.</i></li>
                        <li><i>I love to code since it makes a difference in peoples’ lives.</i></li>
                        <li><i>I love to code because if I can think it, I can make it a reality.</i></li>
                        <li><i>I love to code because it is fun.</i></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>