<div id="education">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>St. Petersburg State Polytechnic University</h3>
        <span class="education-date">2010 - 2014</span>
        <h4>Information Technology, Specialist of Software Engineering</h4>
    </div>

    <div class="education-block">
        <h3>Centria University of Applied Sciences</h3>
        <span class="education-date">2014 - 2018</span>
        <h4>Information Technology, Bachelor of Information Technology</h4>
    </div>
</div>