<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="Sep 2013 – Jan 2014">
            <h3>Hokkers Ltd.</h3>
            <h4>Web developer</h4>

            <p>Cooperation with team to develop and build web system with functionality of online shop according customer’s specifications. Responsible to developing and working closely with database to make easier its integration to other systems and maintenance it. Also involved to designing and scripting many features.</p>

            <p>Activity:</p>

            <ul>
                <li>Developing and releasing database.</li>
                <li>Developing many features from the beginning.</li>
                <li>Specifying system changes that meet a customer’s requirements.</li>
                <li>Investigating, debugging and fixing systems defects.</li>
                <li>Advising customer on the layout, color and style of web page.</li>
                <li>Registering a website on general search engines (Yandex, Google). </li>
            </ul>
        </div>

        <div data-date="Jun 2016 – Aug 2016">
            <h3>Comlink Telecom</h3>
            <h4>Operator of Technical Support</h4>

            <p>Activity:</p>

            <ul>
                <li>Day and night monitoring.</li>
                <li>24/7 hours running «Information service» or «Help Desk»/Service Desk.</li>
                <li>Assistance provided on the spot of the problem, meaning the presence and assistance of technical specialist, in the case when the problem cannot be solved remotely.</li>
                <li>Additional services, such as backup and provision of backup communication channels, DR, etc.</li>
            </ul>
        </div>

        <div data-date="May 2017 – ...">
            <h3>Neymart Ltd.</h3>
            <h4>Junior Full-Stack Developer</h4>

            <p>The first priority aim was to quickly get along with a team and to study a large MVC like project with complex file system in a short time span.</p>

            <p>Activity:</p>

            <ul>
                <li>Bug fixing, changing functionality, code refactoring, development and implementation of new functionality (PHP).</li>
                <li>Changing and adjustment of existing HTML layouts and CSS styles, cooperation with designers and implementation of a new layout.</li>
                <li>Working with databases, table/queries optimization.</li>
                <li>Changing, development, refactoring of js scripts with jQuery (less pure JS).</li>
            </ul>
        </div>
    </div>
</div>