<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 copyright">
                <p>
                    Copyright &copy; 2017 Shubat Maksim
                </p>
            </div>
            <div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
            </div>
            <div class="col-sm-5 social">
                <ul>
                    <li>
                        <a href="https://github.com/Shubat-Max" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/users/5195673/shubat-max" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/108375088328014667408" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100001197989046" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://vk.com/shubat_max" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>