<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="img/winestyle-preview.jpg" />
                </div>
                <div class="project-info">
                    <h3>Winestyle</h3>
                    <p><b>WineStyle</b> is a modern technological wine and spirits company. Our purchase conditions are the most convenient for the customers. We save your time and money;</p>
                    <a href="http://eng.winestyle.ru/" target="_blank">View Project</a>
                </div>
            </div>

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="img/personal-page-preview.jpg"/>
                </div>
                <div class="project-info">
                    <h3>Customizable Personal Page</h3>
                    <p>Easy customisable mobile responsive personal page</p>
                    <a href="#">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>