<div id="skills">
    <h2 class="heading">Skills</h2>
    <ul>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>Git</li>
        <li>PhpStorm</li>
        <li>Bootstrap</li>
        <li>AJAX</li>
        <li>Redmine</li>
        <li>Trello</li>
        <li>jQuery</li>
        <li>SCSS</li>
        <li>TypeScript</li>
        <li>AngularJS</li>
        <li>WordPress</li>
        <li>Python</li>
        <li>Node.js</li>
        <li>Java</li>
        <li>C#</li>
        <li>C++</li>
    </ul>
</div>